/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap');

/*CSS variables*/
:root {
  --header-height: 2.5rem;

  /*Colors*/
  --first-color: #4178dc;
  --first-color-alt: #306bd9;
  --title-color: #f1f2f3;
  --text-color: #babec4;
  --text-color-light: #888b91;
  --white-color: #fff;
  --body-color: #0a0a0b;
  --container-color: #111213;

  /*Fonts*/
  --body-font: 'Exo', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .9rem;
  --small-font-size: .8rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  /*Z index*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*Responsive typography*/
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .9rem;
    --smaller-font-size: .8rem;
  }
}

/*Base*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  /*For animation darkmode*/
  transition: .4s;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Reusables CSS classes*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

.shape {
  background-color: rgba(55, 74, 109, 0.5);
  filter: blur(112px);
  border-radius: 50%;
}

.shape__big {
  width: 400px;
  height: 400px;
}

.shape__small {
  width: 300px;
  height: 300px;
}

.shape__smaller {
  width: 180px;
  height: 180px;
  filter: blur(64px);
}

.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Navbar style classes starts*/
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  display: inline-flex;
}

.nav__logo {
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #ffffff1a;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(96px);
    transition: 0.3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.nav__link {
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  color: var(--white-color);
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

/*Show menu*/
.show-menu {
  right: 0;
}

/*Change background header*/
.scroll-header {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--body-color);
  box-shadow: 0 2px 4px #030303;
}

.active-link {
  color: var(--first-color);
}

/*Active featured link*/
.active__featured {
  background-color: var(--first-color);
}

.active__featured span,
.active__featured img {
  opacity: 1;
}

/*Navbar style classes ends*/

/*Home style classes starts*/

.home {
  position: relative;
  overflow: hidden;
}

.home__container {
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--h1-font-size);
  margin-top: 1rem;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.home__earth {
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.home__earth i {
  color: var(--first-color);
}

.home__image {
  width: 280px;
  justify-self: center;
}

.home__planet {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  margin-bottom: 2rem;
}

.home__planet-name {
  font-size: 0.6rem;
  font-weight: 400;
  color: var(--text-color-light);
}

.home__planet-data {
  text-align: center;
}

.home__planet-value {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.home__planet-icon {
  background-color: var(--container-color);
  border-radius: 50%;
  padding: 0.4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.home__button {
  position: relative;
  border: 2px solid #089191;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.home__button::before {
  content: '';
  border: 2px solid #02c0d9;
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 12px #02c0d9;
  transition: 0.3s;
  animation: button 3s infinite;
}

.home .shape__big,
.home .shape__small {
  position: absolute;

}

.home .shape__big {
  left: -9rem;
  top: -4rem;
}

.home .shape__small {
  right: -10rem;
  bottom: 3rem;
}

/*Start button animation*/
@keyframes button {
  0% {
    box-shadow: 0 0 12px #02c0d9;
  }

  50% {
    box-shadow: 0 0 24px #02c0d9;
  }

  100% {
    box-shadow: 0 0 12px #02c0d9;
  }
}

/*Home style classes ends*/

/*Popular style classes starts*/

.popular__container {
  padding-top: 1rem;
}

.popular__card {
  position: relative;
  width: 238px;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}

.popular__card .shape__smaller {
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
}

.popular__title,
.popular__subtitle,
.popular__image {
  position: relative;
}

.popular__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
}

.popular__subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
}

.popular__image {
  width: 160px;
  margin: 0.75rem 0 1.25rem 1.25rem;
  transition: 0.3s;
}

.popular__data {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.5rem 1.25reml;
  margin-bottom: 2rem;
}

.popular__data-group {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--smaller-font-size);
  color: var(--white-color);
}

.popular__data i {
  font-size: 1rem;
}

.popular__time {
  font-size: var(--h3-font-size);
}

.popular__button {
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}

.popular__button i {
  font-size: 1.25rem;
}

.popular__card:hover .popular__image {
  transform: translateY(-0.25rem);
}

/*Popular style classes ends*/

/*Swiper*/
.swiper-pagination-bullet {
  background: var(--text-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

/*Buttons style*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: var(--normal-font-size);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/*About style classes starts*/
.about__container {
  row-gap: 6rem;
}

.about__group {
  position: relative;
}

.about__image {
  width: 310px;
  border-radius: 0.5rem;
}

.about__card {
  width: 180px;
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  background-color: rgba(3, 3, 3, 0.1);
  backdrop-filter: blur(16px);
  padding: 1rem 0.75rem;
  border-radius: 1.25rem;
}

.about__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.about__card-description {
  font-size: var(--smaller-font-size);
}

.about__title {
  text-align: initial;
  margin-bottom: 2rem;
}

.about__description {
  margin-bottom: 2rem;
}

/*About style classes ends*/

/*Features style classes starts*/
.features {
  overflow: hidden;
  position: relative;
}

.features__container {
  padding-top: 2rem;
  grid-template-columns: 285px;
  justify-content: center;
}

.features__group {
  display: grid;
  position: relative;
  z-index: 10;
}

.features__image {
  width: 150px;
  justify-self: center;
}

.features__card {
  width: 124px;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(16px);
  border-radius: 1.25rem;
  padding: 0.75rem, 2rem;
  text-align: center;
  color: var(--title-color);
  position: absolute;
}

.features__card-1 {
  top: -2rem;
  left: 2rem;
}

.features__card-2 {
  top: 7rem;
  right: -1rem;
}

.features__card-3 {
  left: -2rem;
  bottom: 1.5rem;
}

.features__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.features__card-description {
  font-size: var(--smaller-font-size);
}

.features__map {
  max-width: initial;
  width: 100%;
  position: absolute;
  top: 8rem;
  margin: auto;
}

/*Features style classes ends*/

/*Featured style classes starts*/
.featured__container {
  padding-top: 1rem;
}

.featured__filters {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 3.5rem;
}

.featured__item {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: var(--container-color);
  color: var(--white-color);
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: 0.3s;
}

.featured__item img {
  width: 1.5rem;
}

.featured__item span,
.featured__item img {
  opacity: 0.3;
  transition: 0.3s;
}

.featured__item:hover {
  background-color: var(--first-color);
}

.featured__item:hover span,
.featured__item:hover img {
  opacity: 1;
}

.featured__card {
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
}

.featured__card .shape__smaller {
  position: absolute;
  inset: 0;
  margin: auto;
}

.featured__title,
.featured__subtitle,
.featured__image {
  position: relative;
}

.featured__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
}

.featured__subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
}

.featured__image {
  width: 180px;
  margin: 1.5rem 0;
  transition: 0.3s;
}

.featured__time {
  font-size: var(--h3-font-size);
}

.featured__button {
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}

.featured__button i {
  font-size: 1.25rem;
}

.featured__card:hover .featured__image {
  transform: translateX(-0.25rem);
}

/*Featured style classes ends*/

/*Offer style classes starts*/
.offer {
  position: relative;
}

.offer__container {
  grid-template-rows: max-content 260px;
}

.offer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.offer__data,
.offer__image {
  position: relative;
}

.offer__data {
  text-align: center;
}

.offer__title {
  margin-bottom: 2rem;
}

.offer__description {
  margin-bottom: 3rem;
}

.offer__image {
  position: absolute;
  max-width: initial;
  width: 400px;
  bottom: 0.5rem;
}

/*Offer style classes ends*/

/*Apod style classes ends*/
.apod {
  position: relative;
}

.apod__container {
  padding-top: 2rem;
  grid-template-columns: 320px;
  justify-content: center;
}

.apod__title,
.apod__subtitle,
.apod__image {
  position: relative;
}

.apod__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
}

.apod__subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 2rem;
}

.apod__image {

  position: relative;
  width: 280px;
  background-color: var(--container-color);
  border-radius: 1rem;
  margin: 0.75rem 0 1.25rem 1.25rem;
  overflow: hidden;
}

.apod__description {
  margin-bottom: 3rem;
}

/*Apod style classes ends*/

/* Footer style classes starts */

.footer {
  position: relative;
  overflow: hidden;
}

.footer .shape__big,
.footer .shape__small {
  position: absolute;
}

.footer .shape__big {
  width: 300px;
  height: 300px;
  left: -12rem;
  top: 6rem;
}

.footer .shape__small {
  right: -13rem;
  bottom: -6rem;
}

.footer__container {
  row-gap: 2.5rem;
  position: relative;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.25rem;
  transition: 0.3s;
}

.footer__logo i {
  font-size: 1.5rem;
  font-weight: 500;
}

.footer__logo:hover {
  color: var(--first-color);
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer__link,
.footer__social-link {
  color: var(--text-color);
  transition: 0.3s;
}

.footer__link:hover,
.footer__social-link:hover {
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: 1.5rem;
}

.footer__social-link {
  font-size: 1.25rem;
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/* Footer style classes ends */

/* Scrollbar style classes starts */

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(219, 4%, 16%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(219, 4%, 24%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(219, 4%, 32%);
  border-radius: 1rem;
}

/* Scrollbar style classes ends */

/* Scroll up style classes starts */

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(16px);
  display: inline-flex;
  padding: 0.45rem;
  border-radius: 0.5rem;
  font-size: 1.15rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* show scroll */
.show-scroll {
  bottom: 3rem;
}

/* Scroll up style classes ends */

/*Breakpoints*/
/*Small devices*/
@media screen and (max-width:320px) {
  .container {
    margin-left: 1 rem;
    margin-right: 1rem;
  }

  .home__planet {
    column-gap: 2rem;
  }

  .about__card {
    width: 150px;
  }

  .offer__container {
    grid-template-rows: max-content 180px;
  }

  .offer__image {
    width: 340px;
  }
}

/*Medium devices*/
@media screen and (min-width: 576px) {
  .about__group {
    width: 350px;
    justify-self: center;
  }

  .features__map {
    left: 0;
    right: 0;
  }

  .featured__content {
    grid-template-columns: repeat(2, 228px);
  }

  .offer__container {
    grid-template-rows: initial;
    grid-template-columns: 0.5fr;
    justify-content: center;
  }

  .offer__image {
    position: relative;
    bottom: initial;
    right: initial;
  }

  .offer__data {
    margin-bottom: 4rem;
  }

}

@media screen and (min-width:767px) {
  .section {
    padding: 7rem 0 2rem;

  }

  .nav {
    height: calc(var(--header-height));

  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
    padding-top: 0;
  }

  .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .apod {
    position: relative;
  }

  .apod__container {
    grid-template-columns: 100%;
    justify-content: center;
  }

  .apod__title,
  .apod__subtitle,
  .apod__image {
    position: relative;
  }

  .apod__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.25rem;
  }

  .apod__subtitle {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .apod__image {

    position: relative;
    width: 100%;
    background-color: var(--container-color);
    border-radius: 1rem;
    margin: 1.5rem 0 3rem 1.25rem;
    overflow: hidden;
  }

  .apod__description {
    margin-bottom: 3rem;
    font-size: var(--h3-font-size);
  }
}

/*Large devices*/
@media screen and (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .shape__big {
    width: 500px;
    height: 500px;
  }

  .shape__small {
    width: 400px;
    height: 400px;
  }

  .home__container {
    padding-top: 2rem;
  }

  .home__image {
    width: 380px;
  }

  .home__planet {
    column-gap: 7rem;
  }

  .home__planet-icon {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .about__container {
    column-gap: 6rem;
    align-items: center;
  }

  .about__group,
  .about__image {
    width: 480px;
  }

  .about__card {
    width: 198px;
    padding: 1rem 1.25rem;
  }

  .about__description {
    padding-right: 4rem;
    margin-bottom: 3rem;
  }

  .popular__container {
    width: 875px;
    padding-top: 3rem;
  }

  .popular__card {
    width: 258px;
    border-radius: 1.25rem;
    margin-bottom: 5rem;

  }

  .popular__image {
    width: 180px;
    margin: 0.75rem 0 1.25rem 2rem;
  }

  .features__container {
    padding: 2rem 0 3rem;
  }

  .features__image {
    width: 200px;
  }

  .features__card {
    width: 127px;
    padding: 0.75rem 2.5rem;
  }

  .features__card-1 {
    left: 1rem;
    top: -4rem;
  }

  .features__card-2 {
    right: -4rem;
  }

  .features__card-3 {
    left: -3rem;
    bottom: -1rem;
  }

  .features__map {
    width: 650px;
    top: 11rem;
  }

  .featured__container {
    padding-bottom: 2.5rem;
  }

  .featured__filters {
    column-gap: 2rem;
    margin-bottom: 4.5rem;
  }

  .featured__item {
    width: 52px;
    height: 52px;
  }

  .featured__item img {
    width: 2rem;
  }

  .featured__content {
    grid-template-columns: repeat(3, 248px);
    gap: 4rem;
  }

  .offer__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;
    padding-bottom: 2rem;
  }

  .offer__data,
  .offer__title {
    text-align: initial;
  }

  .offer__data {
    margin-bottom: 0;
  }

  .offer__description {
    padding-right: 6rem;
  }

  .offer__image {
    width: 450px;
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }

  .footer__logo {
    column-gap: 0.5rem;
  }

  .footer__logo i {
    font-size: 2rem;
  }

  .footer__title {
    margin-bottom: 1.5rem;
  }

  .footer__links {
    row-gap: 0.75rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
  }

  .footer__copy {
    margin-top: 8rem;
    padding-bottom: 1rem;
  }

  .scrollup {
    right: 3rem;
  }

}